<section id="newRecipe">
    <h1>Add a New Recipe</h1>

    <div class="alert alert-success alert-dismissible fade in" role="alert" ng-show="newRecipeCtrl.success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Yay!</strong> Your recipe was added!
    </div>

    <form ng-submit="newRecipeCtrl.submit()">

        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Title" ng-model="newRecipeCtrl.newRecipe.name">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Ingredients</label>
            <div class="col-sm-10">
                <div ng-repeat="i in newRecipeCtrl.newRecipe.ingredients" class="form-inline row ingredient">
                    <div class="col-sm-3"><input type="text" ng-model="i.measurementAmount" class="form-control" placeholder="amount" ng-focus="newRecipeCtrl.autoNewIngredient($last)"></div>
                    <div class="col-sm-3"><input type="text" ng-model="i.ingredient.name" class="form-control" placeholder="ingredient name"></div>
                    <div class="col-sm-3"><span ng-if="$last" ng-click="newRecipeCtrl.addIngredient()" class="btn btn-primary-outline">Add More</span></div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Instructions</label>
            <div class="col-sm-10">
                <div ng-repeat="i in newRecipeCtrl.newRecipe.instructions" class="row instruction">
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control" ng-model="i.instruction.text" placeholder="Step {{$index+1}}" ng-focus="newRecipeCtrl.autoNewInstruction($last)"></textarea>
                    </div>
                    <div class="col-sm-3"><span ng-if="$last" ng-click="newRecipeCtrl.addInstruction()" class="btn btn-primary-outline">Add More</span></div>
                </div>
            </div>
        </div>

        <div class="alert alert-danger alert-dismissible fade in" role="alert" ng-show="newRecipeCtrl.error">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Oops! Something bad happened. Try again. If it doesn't work, take a screenshot and email Missy.
        </div>

        <button type="submit" class="btn btn-primary">Submit Recipe</button>
    </form>

</section>