<h1>{{recipeCtrl.title}}</h1>

<ul>
    <li ng-repeat="recipe in recipeCtrl.recipes">{{recipe.name}} - <span ng-click="recipeCtrl.deleteRecipe(recipe.id)">Delete</span></li>
</ul>

<form>
    <label>Recipe Name:</label>
    <input ng-model="recipeCtrl.newRecipe.name">

    <table>
        <tr>
            <th>Qty</th>
            <th>Measurement</th>
            <th>Ingredient</th>
        </tr>
        <tr ng-repeat="ri in recipeCtrl.newRecipe.ingredients">
            <td><input ng-model="ri.measurementAmount"/></td>
            <td><input ng-model="ri.measurementType.name"/></td>
            <td><input ng-model="ri.ingredient.name"/></td>
        </tr>
    </table>
    <div>
        <button ng-click="recipeCtrl.addRecipeIngredientInput()">Add More Ingredients</button>
    </div>

    <table>
        <tr>
            <th></th>
            <th>Instructions</th>
        </tr>
        <tr ng-repeat="ri in recipeCtrl.newRecipe.instructions">
            <td ng-init="ri.instruction_number=$index+1">{{$index+1}}</td>
            <td><textarea ng-model="ri.instruction.text"></textarea></td>
        </tr>
    </table>
    <div>
        <button ng-click="recipeCtrl.addRecipeInstructionInput()">Add More Instructions</button>
    </div>

    <div>
        <button type="submit" ng-click="recipeCtrl.createRecipe(recipeCtrl.newRecipe)" >Submit</button>
    </div>
</form>

{{recipeCtrl.newRecipe}}